# Compiled object files
src/*.o

# Compiled binary
src/dystopia
src/startup

# Logs
log/*.log
log/*

# Player files (runtime data)
player/*

# Windows build artifacts
*.exe

leader.txt
notes/Immortal
src/crash.txt
txt/
notes/Immortal.old
player/backup/.keep
player/store/.keep
bot/